{% extends 'base.html' %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up For Chordy</h5>
            <form class="form-signin" method="post">
              <div class="form-label-group">
                <input type="username" id="username" class="form-control" placeholder="User Name" required autofocus>
                <label for="inputEmail">User Name</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                <label for="confirmPassword">Confirm Password</label>
              </div>

              <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit" value="Register" onclick="location.href='index.html';">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
